{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="text-center sm:text-left text-2xl sm:text-3xl text-gray-800 px-4 mt-4 font-light">
        {{ 'sylius.ui.latest_products'|trans }}
    </h2>
    {{ render(url('sylius_shop_partial_product_index_latest', {'count': 4, 'template': '@SyliusShop/Product/_horizontalList.html.twig'})) }}
{% endblock %}
